[tasks]
build = "go build -tags=lightspark ./bin/operator"
build-oss = "go build ./bin/operator"
lint = "golangci-lint run"
# Sadly, `mise fmt` is a built in command
format = "golangci-lint fmt"
test-unit = """
  GRIPMOCK=true \
  GOFLAGS="-tags=lightspark" \
  gotestsum \
    --format testname \
    $(go list -tags=lightspark ./... | grep -v -E 'so/grpc_test|so/grpc_test_internal|so/tree') \
"""
test-grpc = """
  gotestsum \
    --format testname \
    --packages="./so/grpc_test/... ./so/grpc_test_internal/..." \
    -- \
    -tags=lightspark
"""
test-grpc-minikube = """
  MINIKUBE_IP=$(minikube ip) \
  gotestsum \
    --format testname \
    --packages="./so/grpc_test/... ./so/grpc_test_internal/..." \
    -- \
    -tags=lightspark
"""
