[tasks]
build = "go build -tags=lightspark ./bin/operator"
lint = "golangci-lint run"
# Sadly, `mise fmt` is a built in command
format = "golangci-lint fmt"
test-unit = """
  GRIPMOCK=true \
  gotestsum \
    --format testname \
    $(go list ./... | grep -v -E 'so/grpc_test|so/tree')
"""
test-grpc = """
  gotestsum \
    --format testname \
    --rerun-fails \
    --rerun-fails-max-failures=1000 \
    --packages=./so/grpc_test/...
"""
test-grpc-minikube = """
  HERMETIC_TEST=true \
  gotestsum \
    --format testname \
    --rerun-fails \
    --rerun-fails-max-failures=1000 \
    --packages=./so/grpc_test/...
"""
